#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE   0
#define COLEM  1
#define EXTRA  2
#define FN     3
#define BLUET  4

/ {
    combos {
        compatible = "zmk,combos";
        combo_bluetooth {
            timeout-ms = <50>;
            key-positions = <28 65>;
            bindings = <&tog BLUET>;
        };
        combo_bootloader_right {
            timeout-ms = <50>;
            key-positions = <41 65>;
            bindings = <&bootloader>;
        };
        combo_bootloader_left {
            timeout-ms = <50>;
            key-positions = <0 65>;
            bindings = <&bootloader>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp GRAVE     &kp N1    &kp N2     &kp N3     &kp N4     &kp N5     &kp MINUS            &kp EQUAL     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0       &kp  BSLH
                &kp TAB       &kp Q     &kp W      &kp E      &kp R      &kp T      &kp LBKT             &kp RBKT      &kp Y      &kp U      &kp I      &kp O      &kp P        &tog EXTRA // 27 (28)
                &kp ESC/*28*/ &kp A     &kp S      &kp D      &kp F      &kp G      &kp RETURN           &kp SQT       &kp H      &kp J      &kp K      &kp L      &kp SCLN     &tog COLEM // 41 (42)
                &none         &kp Z     &kp X      &kp C      &kp V      &kp B      &kp LCMD             &kp RCTRL     &kp N      &kp M      &kp CMMA   &kp DOT    &kp FSLH     &none
                &none         &none     &none      &none      &kp LALT   &kp SPC    &kp LSHFT            &kp RALT      &kp BSPC   &mo FN     &none      &none      &none        &none
                                                                                                                                  // 65 (66)
            >;
        };

        colemak_layer {
            bindings = <                                                                                                                                                                          
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans     &trans     &trans     &trans     &trans       &trans 
                &trans        &kp Q     &kp W      &kp F      &kp P      &kp B      &trans               &trans        &kp J      &kp L      &kp U      &kp Y      &kp SCLN     &trans
                &trans        &kp A     &kp R      &kp S      &kp T      &kp G      &trans               &trans        &kp M      &kp N      &kp E      &kp I      &kp O        &trans
                &trans        &kp Z     &kp X      &kp C      &kp D      &kp V      &trans               &trans        &kp K      &kp H      &kp CMMA   &kp DOT    &kp FSLH     &trans
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans     &trans     &trans     &trans     &trans       &trans
            >;
        };

        extra_layer {
            bindings = <                                                                                                                                                                          
                &trans        &kp F1    &kp F2     &kp F3     &kp F4     &kp F5     &trans               &trans        &kp F6        &kp F7      &kp F8     &kp F9      &kp F10      &trans
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &kp C_PREV &kp C_PP    &kp C_NEXT   &trans
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
            >;
        };

        fn_layer {
             bindings = <                                                                                                                                                                          
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans        &kp LEFT    &kp DOWN   &kp UP      &kp RIGHT    &trans
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
                &trans        &trans    &trans     &trans     &trans     &trans     &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
            >;
        };

        bt_layer {
             bindings = <                                                                                                                                                                          
                &trans        &bt BT_SEL 0    &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4   &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
                &trans        &trans          &trans           &trans           &trans           &trans         &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
                &trans        &trans          &trans           &trans           &trans           &trans         &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
                &trans        &trans          &trans           &trans           &trans           &trans         &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
                &trans        &trans          &trans           &trans           &trans           &trans         &trans               &trans        &trans        &trans      &trans     &trans      &trans       &trans
            >;
        };
    };
};
