if SHIELD_BRANDLILJA_LEFT

config ZMK_KEYBOARD_NAME
    default "Brandlilja"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BRANDLILJA_LEFT || SHIELD_BRANDLILJA_RIGHT

config ZMK_SPLIT
    default y

endif
