config SHIELD_BRANDLILJA_LEFT
    def_bool $(shields_list_contains,brandlilja_left)
    select SHIELD_BRANDLILJA_LEFT

config SHIELD_BRANDLILJA_RIGHT
    def_bool $(shields_list_contains,brandlilja_right)
    select SHIELD_BRANDLILJA_RIGHT
